flows.json
[
    {
        "id": "e7147f212e63eb38",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "e7147f212e63eb38",
        "name": "Start Stream",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "file1"
            ]
        ]
    },
    {
        "id": "file1",
        "type": "file in",
        "z": "e7147f212e63eb38",
        "name": "Read CSV File",
        "filename": "./Metro_Interstate_Traffic_Volume.csv",
        "filenameType": "str",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "allProps": false,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "b44c7550e7913aa3"
            ]
        ]
    },
    {
        "id": "csv1",
        "type": "csv",
        "z": "e7147f212e63eb38",
        "name": "CSV → JSON",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "clean1"
            ]
        ]
    },
    {
        "id": "clean1",
        "type": "function",
        "z": "e7147f212e63eb38",
        "name": "Step 1: Data Cleaning",
        "func": "// Handle missing values\nif (!msg.payload.temp) msg.payload.temp = 20;\nif (!msg.payload.rain_1h) msg.payload.rain_1h = 0;\n//if (!msg.payload.traffic_volume) return null;\n\n// 临时将这行注释掉（在前面加 //）\n// if (!msg.payload.traffic_volume) return null; \n// 暂时注释掉拦截逻辑，改用日志输出\nif (!msg.payload.traffic_volume && msg.payload.traffic_volume !== 0) {\n    node.warn(\"数据被拦截：未找到 traffic_volume。当前 payload 内容: \" + JSON.stringify(msg.payload));\n        return null; // 如果确定没数据，依然需要返回 null 防止下游报错\n        }\n\n        // 正常逻辑\n        if (!msg.payload.temp) msg.payload.temp = 20;\n        if (!msg.payload.rain_1h) msg.payload.rain_1h = 0;\n        msg.payload.traffic_volume = Math.max(0, msg.payload.traffic_volume);\n\n        return msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 360,
        "wires": [
            [
                "7e16dbcd969ef943",
                "feature1"
            ]
        ]
    },
    {
        "id": "feature1",
        "type": "function",
        "z": "e7147f212e63eb38",
        "name": "Step 2: Feature Engineering",
        "func": "// Convert date\nlet date = new Date(msg.payload.date_time);\n\n// Extract hour\nmsg.payload.hour = date.getHours();\n\n// Create peak hour feature\n// Used 1 and 0 to replace True & False\nmsg.payload.is_peak = (msg.payload.hour >= 7 && msg.payload.hour <= 9) || \n                      (msg.payload.hour >= 16 && msg.payload.hour <= 18) ? 1 : 0;\n\n// Day of week\n// 0 - Sunday, 6 - Saturday\nmsg.payload.day_of_week = date.getDay();\n\n// Traffic Level\n// Low (0), Medium (1), High (2)\nlet volume = msg.payload.traffic_volume;\nif (volume < 1500) {\n    msg.payload.traffic_level = 0; // Low\n} else if (volume < 4500) {\n    msg.payload.traffic_level = 1; // Medium\n} else {\n    msg.payload.traffic_level = 2; // High\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 440,
        "wires": [
            [
                "debug1",
                "save1",
                "75d717f69cc21bee"
            ]
        ]
    },
    {
        "id": "save1",
        "type": "function",
        "z": "e7147f212e63eb38",
        "name": "Format for CSV",
        "func": "let p = msg.payload;\nmsg.payload = `${p.date_time},${p.traffic_volume},${p.temp},${p.rain_1h},${p.hour},${p.is_peak},${p.day_of_week},${p.traffic_level}\\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 440,
        "wires": [
            [
                "fileout1"
            ]
        ]
    },
    {
        "id": "fileout1",
        "type": "file",
        "z": "e7147f212e63eb38",
        "name": "Save Cleaned Data",
        "filename": "./cleaned_output.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 950,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "e7147f212e63eb38",
        "name": "Preview Clean Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "f52d9c7732c9193e",
        "type": "inject",
        "z": "e7147f212e63eb38",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "holiday\ttemp\train_1h\tsnow_1h\tclouds_all\tweather_main\tweather_description\tdate_time\ttraffic_volume None\t288.28\t0\t0\t40\tClouds\tscattered clouds\t10/2/2012 9:00\t5545 None\t289.36\t0\t0\t75\tClouds\tbroken clouds\t10/2/2012 10:00\t4516 None\t289.58\t0\t0\t90\tClouds\tovercast clouds\t10/2/2012 11:00\t4767 None\t290.13\t0\t0\t90\tClouds\tovercast clouds\t10/2/2012 12:00\t5026 None\t291.14\t0\t0\t75\tClouds\tbroken clouds\t10/2/2012 13:00\t4918 None\t291.72\t0\t0\t1\tClear\tsky is clear\t10/2/2012 14:00\t5181 None\t293.17\t0\t0\t1\tClear\tsky is clear\t10/2/2012 15:00\t5584 None\t293.86\t0\t0\t1\tClear\tsky is clear\t10/2/2012 16:00\t6015 None\t294.14\t0\t0\t20\tClouds\tfew clouds\t10/2/2012 17:00\t5791 None\t293.1\t0\t0\t20\tClouds\tfew clouds\t10/2/2012 18:00\t4770 None\t290.97\t0\t0\t20\tClouds\tfew clouds\t10/2/2012 19:00\t3539 None\t289.38\t0\t0\t1\tClear\tsky is clear\t10/2/2012 20:00\t2784",
        "payloadType": "str",
        "x": 90,
        "y": 800,
        "wires": [
            [
                "02686498c5de7f39"
            ]
        ]
    },
    {
        "id": "02686498c5de7f39",
        "type": "csv",
        "z": "e7147f212e63eb38",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 270,
        "y": 800,
        "wires": [
            [
                "75ec954d474e76da"
            ]
        ]
    },
    {
        "id": "75ec954d474e76da",
        "type": "function",
        "z": "e7147f212e63eb38",
        "name": "Data Cleaning",
        "func": "// Handle missing values\nif (!msg.payload.temp) msg.payload.temp = 20;\nif (!msg.payload.rain_1h) msg.payload.rain_1h = 0;\n\n// Remove invalid data\nif (!msg.payload.traffic_volume) return null;\nmsg.payload.traffic_volume = Math.max(0, msg.payload.traffic_volume);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 800,
        "wires": [
            [
                "fbb9b22efea5c26b"
            ]
        ]
    },
    {
        "id": "fbb9b22efea5c26b",
        "type": "function",
        "z": "e7147f212e63eb38",
        "name": "Feature Engineering",
        "func": "let date = new Date(msg.payload.date_time);\n\n// Extract hour\nmsg.payload.hour = date.getHours();\n\n// Peak hour\nmsg.payload.is_peak = (msg.payload.hour >= 7 && msg.payload.hour <= 9) ||\n    (msg.payload.hour >= 16 && msg.payload.hour <= 18);\n\n// Normalize\nmsg.payload.traffic_scaled = msg.payload.traffic_volume / 10000;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "b44c7550e7913aa3",
        "type": "delay",
        "z": "e7147f212e63eb38",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "csv1"
            ]
        ]
    },
    {
        "id": "75d717f69cc21bee",
        "type": "function",
        "z": "e7147f212e63eb38",
        "name": "Prepare API Input",
        "func": "// extract API\nmsg.payload = {\n    \"temp\": msg.payload.temp,\n    \"rain_1h\": msg.payload.rain_1h,\n    \"hour\": msg.payload.hour,\n    \"is_peak\": msg.payload.is_peak,\n    \"day_of_week\": msg.payload.day_of_week\n};\n\nmsg.method = \"POST\";\nmsg.url = \"http://127.0.0.1:5000/predict\";\nmsg.timeout = 5000; // 设置 5 秒超时\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 500,
        "wires": [
            [
                "80111e5ef10384f2"
            ]
        ]
    },
    {
        "id": "80111e5ef10384f2",
        "type": "http request",
        "z": "e7147f212e63eb38",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 500,
        "wires": [
            [
                "84e9c50575713fac"
            ]
        ]
    },
    {
        "id": "84e9c50575713fac",
        "type": "change",
        "z": "e7147f212e63eb38",
        "name": "Set Results",
        "rules": [
            {
                "t": "set",
                "p": "payload.traffic_prediction",
                "pt": "msg",
                "to": "payload.traffic_level",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 500,
        "wires": [
            [
                "f33bc7b5a63dddd6"
            ]
        ]
    },
    {
        "id": "ab942c6365a22f19",
        "type": "catch",
        "z": "e7147f212e63eb38",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 380,
        "y": 560,
        "wires": [
            [
                "524d31855815b8a6"
            ]
        ]
    },
    {
        "id": "524d31855815b8a6",
        "type": "debug",
        "z": "e7147f212e63eb38",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "7e16dbcd969ef943",
        "type": "debug",
        "z": "e7147f212e63eb38",
        "name": "Check data cleaning process is work",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "f33bc7b5a63dddd6",
        "type": "debug",
        "z": "e7147f212e63eb38",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 500,
        "wires": []
    }
]