flows.json
[
    {
        "id": "e7147f212e63eb38",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "e7147f212e63eb38",
        "name": "Start Stream",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "file1"
            ]
        ]
    },
    {
        "id": "file1",
        "type": "file in",
        "z": "e7147f212e63eb38",
        "name": "Read CSV File",
        "filename": "./Metro_Interstate_Traffic_Volume.csv",
        "filenameType": "str",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "allProps": false,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "b44c7550e7913aa3"
            ]
        ]
    },
    {
        "id": "csv1",
        "type": "csv",
        "z": "e7147f212e63eb38",
        "name": "CSV → JSON",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "clean1"
            ]
        ]
    },
    {
        "id": "clean1",
        "type": "function",
        "z": "e7147f212e63eb38",
        "name": "Step 1: Data Cleaning",
        "func": "// --- 1. Data Cleaning (Handling missing values) ---\n// Set default values if temp or rain_1h are missing\nif (!msg.payload.temp) msg.payload.temp = 20;\nif (!msg.payload.rain_1h) msg.payload.rain_1h = 0;\n\n// Validate that traffic_volume exists; stop flow if invalid\nif (!msg.payload.traffic_volume && msg.payload.traffic_volume !== 0) {\n    node.warn(\"Data blocked: traffic_volume missing. Payload: \" + JSON.stringify(msg.payload));\n    return null;\n}\n\n// Ensure traffic_volume is a non-negative number\nmsg.payload.traffic_volume = Math.max(0, msg.payload.traffic_volume);\n\n\n// --- 2. Feature Engineering (Extracting time and normalizing data) ---\n// Parse the date_time string to extract specific features\nlet date = new Date(msg.payload.date_time);\n\n// Extract hour from date\nmsg.payload.hour = date.getHours();\n\n// Define peak hours (7-9 AM, 4-6 PM)\nmsg.payload.is_peak = (msg.payload.hour >= 7 && msg.payload.hour <= 9) ||\n    (msg.payload.hour >= 16 && msg.payload.hour <= 18) ? 1 : 0;\n\n// Scale traffic volume for model input consistency\nmsg.payload.traffic_scaled = msg.payload.traffic_volume / 10000;\n\n\n// --- 3. Label Generation (Categorizing traffic levels) ---\n// Assign traffic level: 0 (Low), 1 (Medium), 2 (High)\nif (msg.payload.traffic_volume < 1500) {\n    msg.payload.traffic_level = 0;\n} else if (msg.payload.traffic_volume < 4000) {\n    msg.payload.traffic_level = 1;\n} else {\n    msg.payload.traffic_level = 2;\n}\n\n// Pass the processed message to the next node\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 360,
        "wires": [
            [
                "7e16dbcd969ef943",
                "feature1"
            ]
        ]
    },
    {
        "id": "feature1",
        "type": "function",
        "z": "e7147f212e63eb38",
        "name": "Step 2: Feature Engineering",
        "func": "// Convert date\nlet date = new Date(msg.payload.date_time);\n\n// Extract hour\nmsg.payload.hour = date.getHours();\n\n// Create peak hour feature\n// Used 1 and 0 to replace True & False\nmsg.payload.is_peak = (msg.payload.hour >= 7 && msg.payload.hour <= 9) || \n                      (msg.payload.hour >= 16 && msg.payload.hour <= 18) ? 1 : 0;\n\n// Day of week\n// 0 - Sunday, 6 - Saturday\nmsg.payload.day_of_week = date.getDay();\n\n// Traffic Level\n// Low (0), Medium (1), High (2)\nlet volume = msg.payload.traffic_volume;\nif (volume < 1500) {\n    msg.payload.traffic_level = 0; // Low\n} else if (volume < 4500) {\n    msg.payload.traffic_level = 1; // Medium\n} else {\n    msg.payload.traffic_level = 2; // High\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 440,
        "wires": [
            [
                "debug1",
                "save1",
                "75d717f69cc21bee"
            ]
        ]
    },
    {
        "id": "save1",
        "type": "function",
        "z": "e7147f212e63eb38",
        "name": "Format for CSV",
        "func": "let p = msg.payload;\nmsg.payload = `${p.date_time},${p.traffic_volume},${p.temp},${p.rain_1h},${p.hour},${p.is_peak},${p.day_of_week},${p.traffic_level}\\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 440,
        "wires": [
            [
                "fileout1"
            ]
        ]
    },
    {
        "id": "fileout1",
        "type": "file",
        "z": "e7147f212e63eb38",
        "name": "Save Cleaned Data",
        "filename": "./cleaned_output.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 950,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "e7147f212e63eb38",
        "name": "Preview Clean Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "b44c7550e7913aa3",
        "type": "delay",
        "z": "e7147f212e63eb38",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "csv1"
            ]
        ]
    },
    {
        "id": "75d717f69cc21bee",
        "type": "function",
        "z": "e7147f212e63eb38",
        "name": "Prepare API Input",
        "func": "// extract API\nmsg.payload = {\n    \"temp\": msg.payload.temp,\n    \"rain_1h\": msg.payload.rain_1h,\n    \"hour\": msg.payload.hour,\n    \"is_peak\": msg.payload.is_peak,\n    \"day_of_week\": msg.payload.day_of_week\n};\n\nmsg.method = \"POST\";\nmsg.url = \"http://127.0.0.1:5000/predict\";\nmsg.timeout = 5000; // 设置 5 秒超时\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 500,
        "wires": [
            [
                "80111e5ef10384f2"
            ]
        ]
    },
    {
        "id": "80111e5ef10384f2",
        "type": "http request",
        "z": "e7147f212e63eb38",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 500,
        "wires": [
            [
                "84e9c50575713fac"
            ]
        ]
    },
    {
        "id": "84e9c50575713fac",
        "type": "change",
        "z": "e7147f212e63eb38",
        "name": "Set Results",
        "rules": [
            {
                "t": "set",
                "p": "payload.traffic_prediction",
                "pt": "msg",
                "to": "payload.traffic_level",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 500,
        "wires": [
            [
                "f33bc7b5a63dddd6"
            ]
        ]
    },
    {
        "id": "ab942c6365a22f19",
        "type": "catch",
        "z": "e7147f212e63eb38",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 380,
        "y": 560,
        "wires": [
            [
                "524d31855815b8a6"
            ]
        ]
    },
    {
        "id": "524d31855815b8a6",
        "type": "debug",
        "z": "e7147f212e63eb38",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "7e16dbcd969ef943",
        "type": "debug",
        "z": "e7147f212e63eb38",
        "name": "Check data cleaning process is work",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "f33bc7b5a63dddd6",
        "type": "debug",
        "z": "e7147f212e63eb38",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 500,
        "wires": []
    }
]